/* Style Index */
.top-up {
  height: 50px;
  width: auto;
  background-color: #e2edff;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}
#album {
  background-color: #e2edff;
}
footer {
  height: 50px;
  color: white;
}
#navbar {
  height: 50px;
}
.my-editing {
  height: 40px;
  width: auto;
  background-color: #e2edff;
}
.my-about {
  height: 40px;
  width: auto;
  background-color: #fff;
}

/* Style Album */
