.jumbotron img {
  margin-top: 40px;
  width: 100px;
  height: auto;
}
.jumbotron .gambar {
  border: 2px white solid;
}
.container {
 margin-right: 5px;
}
.container .tmbl {
  width: 320px;
  height: 50px;
  display: block;
  margin: 20px auto;
  /* margin-right: 8px; */
  
}
.container a {
  text-decoration: none;
}
.tmbl {
  padding: 10px;
  font-size: 14px;
}
.cntr {
  display: block;
  margin-top: -23px;
}
.dwn {
  display: block;
  
}
.container .row .github {
  font-size: 24px;
}
.ups {
  margin-top: -5px;
}
.container .wa i {
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  color: white;
}
.wa {
  width: 150px;
  height: 50px;
}
.medsos {
 margin-top: -25px;
}
.mt-4 {
 margin-top: 1rem;
}


/* Custom Color */
.sky-500 {
 background-color: #0ea5e9;
}