.jumbotron img {
  margin-top: 40px;
  width: 100px;
  height: auto;
}
.jumbotron .gambar {
  border: 2px white solid;
}
.container .tmbl {
  width: 350px;
  height: 50px;
  display: block;
  margin: 20px auto;
}
.container a {
  text-decoration: none;
}
.tmbl {
  padding: 10px;
  font-size: 14px;
}
.cntr {
  display: block;
  margin-top: -23px;
}
.dwn {
  display: block;
  
}
.container .row .github {
  font-size: 24px;
}
.ups {
  margin-top: -5px;
}
.container .wa i {
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  color: white;
}
.wa {
  width: 150px;
  height: auto;
}